<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Players</h2>
      <div class="tablebox">
        <ng2-smart-table [settings] = "settings" [source]="players" class="table table-striped table-bordered table-hover"></ng2-smart-table>
      </div>
      <!-- <div *ngIf="currentUser" class="row">
        <button type="button" class="btn btn-primary" (click)="addPlayer()">Add player</button>
      </div> -->
    </div>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
