<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#">ChessLeague</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/players/">Players <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teams/">Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matches/">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/games/">Games</a>
      </li>
      <li class="nav-item" *ngIf = "adminUser">
        <a class="nav-link" href="/users/">Users</a>
      </li>

      <li class="nav-item dropdown my-2 my-md-0">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#" *ngIf="!adminUser">Login</a>
          <a class="dropdown-item" href="#" *ngIf="adminUser">Logout</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
