<div class="container">
  <!-- <a href="#" data-toggle="modal" data-target="#login-modal">Login</a> -->
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">Log in</button>
  <div class="modal fade" id="login-modal" role="dialog">
    <!-- aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"> -->
    <div class="modal-dialog" "modal-sm">
      <div class="loginmodal-container">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
                <h4 class="col-xs-4 center-block text-center">Chessleague admin</h4>
            </div>
            <div class="modal-body">
              <form>
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pass" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
