/* You can add global styles to this file, and also import other style files */
 .detailheader{
    text-align: center;
  }

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
div.help-block {
  background-color: pink;
  text-align: center;
}

.itemname {
  font-style: italic;
  color: #666666;
  text-align: center;
}

.dropdown-menu li.active > div,
.dropdown-menu li.active > div:hover,
.dropdown-menu li.active > div:focus {
  background-color: #666666;
  }

  label {
    color: darkblue;
  }

  .tablebox {
    margin: auto;
    margin-bottom: 50px;
    border-style: solid;
    border-color: #c0c0c0;
  }
 